In [26]:
import pandas as pd
import seaborn as sns

df  = pd.read_csv("./../data/combined_skills.csv")

In [27]:
#remove % and $, so data can be imported into database
df = df.applymap(lambda x: x.replace('%', '') if isinstance(x, str) else x)
df = df.applymap(lambda x: x.replace('$', '') if isinstance(x, str) else x)

In [28]:
#check if % and $ got removed
df

,school_name,campus_location,program_name,program_cost,java,csharp_net,html,css,javascript,es6,...,median_annual_salary180days,under70K_90days,under70K_180days,salary_70K_80K_90days,salary_70K_80K_180days,salary_80K_90K_90days,salary_80K_90K_180days,over90K_90days,over90K_180days,state
0,The Tech Academy,Online,Python Developer BootCamp,"9,540.00",0.0,0.0,1.0,1.0,1.0,0.0,...,"65,000",75.0,80.0,0.0,0.0,0.0,0.0,25.0,20.0,Online
1,The Tech Academy,Online,Data Science BootCamp,"9,540.00",0.0,0.0,1.0,1.0,1.0,0.0,...,"45,180",100.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,Online
2,Turing School of Software and Design,Online,Back End Engineering,"25,000.00",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,"75,000",15.1,17.5,37.7,33.3,28.3,33.3,18.9,15.9,Online
3,Codeup,Dallas,Full-Stack Web Development,"22,500.00",1.0,0.0,1.0,1.0,1.0,0.0,...,"50,000",100.0,92.4,0.0,0.0,0.0,7.7,0.0,0.0,Texas
4,Code Platoon,Chicago,Full-Stack Web Development,"15,500.00",0.0,0.0,1.0,1.0,1.0,0.0,...,"90,000",0.0,0.0,22.2,25.0,22.2,16.7,55.5,58.4,Illinois
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Codeup,San Antonio - Vogue,Data Science BootCamp,"22,500.00",0.0,0.0,0.0,0.0,0.0,0.0,...,"73,000.00",34.5,29.4,34.5,41.2,6.9,5.9,24.1,20.6,Texas
63,Turing School of Software and Design,Online,Front End Engineering,"25,000.00",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,"90,000.00",15.1,16.7,3.8,7.6,20.8,18.2,56.6,53.0,Online
64,Tech Elevator,Remote,Full-Stack Software Development,"16,500.00",1.0,1.0,1.0,1.0,1.0,0.0,...,"61,200.00",69.1,69.2,18.2,15.4,7.3,9.2,5.5,6.2,Online
65,Tech Elevator,Cincinnati,Full-Stack Software Development,"16,500.00",1.0,1.0,1.0,1.0,1.0,0.0,...,"65,000.00",50.0,53.0,50.0,47.1,0.0,0.0,0.0,0.0,Ohio
66,Turing School of Software and Design,Online,Back End Engineering,"25,000.00",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,"85,000.00",14.0,16.1,10.0,10.7,26.0,25.0,48.0,44.6,Online

In [29]:
# we have 'Codeup', 'Codeup, LLC' values in 'school_name' column
set(df['school_name'])

{'Code Chrysalis',
 'Code Platoon',
 'Codesmith',
 'Codeup',
 'Juno College of Technology',
 'Launch Academy',
 'Tech Elevator',
 'The Tech Academy',
 'Turing School of Software and Design'}

In [30]:
#rename value
df['school_name'] = df['school_name'].replace(['Codeup, LLC'],['Codeup'])

In [31]:
#check the program names 
set(df['program_name'])

{'Back End Engineering',
 'C# and .NET Boot Camp',
 'Data Analytics Bootcamp',
 'Data Science BootCamp',
 'Front End Engineering',
 'Front-End Web Developer BootCamp',
 'Full-Stack Software Development',
 'Full-Stack Web Development',
 'Full-Stack Web Development-Java',
 'Fundamentals of Web Development',
 'Part-Time Full-Stack Web Development',
 'Python Developer BootCamp',
 'Software Developer BootCamp',
 'The Immersive Bootcamp',
 'Web Development Immersive'}

In [7]:
#rename programs' names in order to name consistency
rename_values = {'Front-End Web Developernan': 'Front-End Web Developer BootCamp', 'Front-End Web DeveloperBoot Camp': 'Front-End Web Developer BootCamp', 'Software Developer Bootcamp':'Software Developer BootCamp','Full-Stack Web Development -Java':'Full-Stack Web Development-Java','Data Science Boot Camp':'Data Science BootCamp','Data Science': 'Data Science BootCamp', 'Python Developer Boot Camp':'Python Developer BootCamp'}
df['program_name'] = df['program_name'].replace(rename_values)

In [32]:
#rename all values containg 'remote' string into 'Remote'
rename_values = {'Central Remote Immersive': 'Remote','East Coast Remote':'Remote', 'National Live Remote':'Remote', 'Part Time Remote Immersive':'Remote','West Coast Remote':'Remote', 'Salt Lake City, Utah':'Salt Lake City','Tokyo, Japan':'Tokyo'}
df['campus_location'] = df['campus_location'].replace(rename_values)

In [33]:
set(df['campus_location'])

{'Boston',
 'Chicago',
 'Cincinnati',
 'Cleveland',
 'Columbus',
 'Dallas',
 'Los Angeles',
 'New York',
 'Online',
 'Philadelphia',
 'Pittsburgh',
 'Remote',
 'Salt Lake City',
 'San Antonio',
 'San Antonio - Vogue',
 'Tokyo',
 'Toronto',
 'Wilmington'}

In [34]:
#create dictionary of cities and corresponding states
city_state= {'Boston': 'Massachusetts',
                   'Chicago': 'Illinois',
                   'Cincinnati': 'Ohio',
                   'Cleveland': 'Ohio',
                   'Columbus': 'Ohio',
                   'Dallas': 'Texas',
                   'Los Angeles': 'California',
                   'New York': 'New York',
                   'Online':'Online',
                   'Philadelphia': 'Pennsylvania',
                   'Pittsburgh': 'Pennsylvania',
                   'Salt Lake City': 'Utah',
                   'San Antonio': 'Texas',
                   'San Antonio - Vogue': 'Texas',
                   'Remote': 'Online',
                   'Tokyo': 'Japan',
                   'Toronto': 'Canada',
                   'Wilmington': 'Delaware'}

In [35]:
# add new column state to the dataframe
df["state"] = df["campus_location"].apply(lambda x: city_state.get(x, None))

In [36]:
set(df["state"])

{'California',
 'Canada',
 'Delaware',
 'Illinois',
 'Japan',
 'Massachusetts',
 'New York',
 'Ohio',
 'Online',
 'Pennsylvania',
 'Texas',
 'Utah'}

In [13]:
#temporarily replace missing values with -1 
df.fillna(-1, inplace=True)

In [14]:
df.to_csv('E:/new/bootcamps_edu/data/combined_skills.csv',index=False)

OSError: Cannot save file into a non-existent directory: 'E:/new/bootcamps_edu/data'

In [16]:
df.columns

Index(['school_name', 'campus_location', 'program_name', 'program_cost',
       'java', 'csharp_net', 'html', 'css', 'javascript', 'es6', 'jquery',
       'nodejs', 'reactjs', 'redux', 'heroku', 'sql', 'mysql', 'postgress',
       'mongodb', 'firebase', 'git', 'spring', 'api', 'applied_stats',
       'python', 'r', 'regression', 'classification', 'clustering',
       'time_series_analysis', 'anomaly_detection', 'language_processing',
       'machine_learning', 'advanced_topics', 'story_telling_with_data',
       'domain_expertise_development', 'reporting_start', 'reporting_end',
       'course_length', 'graduates_included', 'graduated_ontime',
       'intend_infield_employment', 'employed_infield_90days',
       'employed_infield_180days', 'not_seeking_infield_90days',
       'not_seeking_infield_180days', 'still_seeking_infield_90days',
       'still_seeking_infield_180days', 'median_annual_salary90days',
       'median_annual_salary180days', 'under70K_90days', 'under70K_180days',
       'salary_70K_80K_90days', 'salary_70K_80K_180days',
       'salary_80K_90K_90days', 'salary_80K_90K_180days', 'over90K_90days',
       'over90K_180days', 'state'],
      dtype='object')

In [25]:
df_2 = df.drop(['school_name', 'campus_location', 'program_name', 'state', 'program_cost','reporting_start', 'reporting_end','course_length'], axis = 1)
sns.heatmap(df_2)

ValueError: could not convert string to float: '59,000'

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 59 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   school_name                    67 non-null     object
 1   campus_location                67 non-null     object
 2   program_name                   67 non-null     object
 3   program_cost                   67 non-null     object
 4   java                           67 non-null     float64
 5   csharp_net                     67 non-null     float64
 6   html                           67 non-null     float64
 7   css                            67 non-null     float64
 8   javascript                     67 non-null     float64
 9   es6                            67 non-null     float64
 10  jquery                         67 non-null     float64
 11  nodejs                         67 non-null     float64
 12  reactjs                        67 non-null     float64
 13  redux                          67 non-null     float64
 14  heroku                         67 non-null     float64
 15  sql                            67 non-null     float64
 16  mysql                          67 non-null     float64
 17  postgress                      67 non-null     float64
 18  mongodb                        67 non-null     float64
 19  firebase                       67 non-null     float64
 20  git                            67 non-null     float64
 21  spring                         67 non-null     float64
 22  api                            67 non-null     float64
 23  applied_stats                  67 non-null     float64
 24  python                         67 non-null     float64
 25  r                              67 non-null     float64
 26  regression                     67 non-null     float64
 27  classification                 67 non-null     float64
 28  clustering                     67 non-null     float64
 29  time_series_analysis           67 non-null     float64
 30  anomaly_detection              67 non-null     float64
 31  language_processing            67 non-null     float64
 32  machine_learning               67 non-null     float64
 33  advanced_topics                67 non-null     float64
 34  story_telling_with_data        67 non-null     float64
 35  domain_expertise_development   67 non-null     float64
 36  reporting_start                67 non-null     object
 37  reporting_end                  67 non-null     object
 38  course_length                  67 non-null     object
 39  graduates_included             67 non-null     int64
 40  graduated_ontime               67 non-null     float64
 41  intend_infield_employment      67 non-null     float64
 42  employed_infield_90days        67 non-null     float64
 43  employed_infield_180days       67 non-null     float64
 44  not_seeking_infield_90days     67 non-null     float64
 45  not_seeking_infield_180days    67 non-null     float64
 46  still_seeking_infield_90days   67 non-null     float64
 47  still_seeking_infield_180days  67 non-null     float64
 48  median_annual_salary90days     67 non-null     object
 49  median_annual_salary180days    67 non-null     object
 50  under70K_90days                67 non-null     float64
 51  under70K_180days               67 non-null     float64
 52  salary_70K_80K_90days          67 non-null     float64
 53  salary_70K_80K_180days         67 non-null     float64
 54  salary_80K_90K_90days          67 non-null     float64
 55  salary_80K_90K_180days         67 non-null     float64
 56  over90K_90days                 67 non-null     float64
 57  over90K_180days                67 non-null     float64
 58  state                          67 non-null     object
dtypes: float64(48), int64(1), object(10)
memory usage: 31.0+ KB

In [42]:
df['program_cost'].apply(lambda x: str(x).replace(',','').astype('float'))

AttributeError: 'str' object has no attribute 'astype'

In [43]:
df.head()

,school_name,campus_location,program_name,program_cost,java,csharp_net,html,css,javascript,es6,...,median_annual_salary180days,under70K_90days,under70K_180days,salary_70K_80K_90days,salary_70K_80K_180days,salary_80K_90K_90days,salary_80K_90K_180days,over90K_90days,over90K_180days,state
0,The Tech Academy,Online,Python Developer BootCamp,"9,540.00",0.0,0.0,1.0,1.0,1.0,0.0,...,"65,000",75.0,80.0,0.0,0.0,0.0,0.0,25.0,20.0,Online
1,The Tech Academy,Online,Data Science BootCamp,"9,540.00",0.0,0.0,1.0,1.0,1.0,0.0,...,"45,180",100.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,Online
2,Turing School of Software and Design,Online,Back End Engineering,"25,000.00",-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,"75,000",15.1,17.5,37.7,33.3,28.3,33.3,18.9,15.9,Online
3,Codeup,Dallas,Full-Stack Web Development,"22,500.00",1.0,0.0,1.0,1.0,1.0,0.0,...,"50,000",100.0,92.4,0.0,0.0,0.0,7.7,0.0,0.0,Texas
4,Code Platoon,Chicago,Full-Stack Web Development,"15,500.00",0.0,0.0,1.0,1.0,1.0,0.0,...,"90,000",0.0,0.0,22.2,25.0,22.2,16.7,55.5,58.4,Illinois

In [44]:
df['course_length']

0     Self-paced
1     Self-paced
2            220
3            200
4            120
         ...
62           200
63           220
64            95
65            95
66           220
Name: course_length, Length: 67, dtype: object